<!DOCTYPE html PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="height: 100%;" xmlns="http://www.w3.org/1999/xhtml"><!-- 页面头部【start】 --><head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>首页--深圳市优讯通信息技术有限公司</title>
  <meta name="keywords" content="建站专家--建站之星 sitestar">
  <meta name="description" content="建站专家--建站之星 sitestar">
  <script type="text/javascript" src="tree.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" language="javascript" src="jquery_002.js"></script>
  <script type="text/javascript" language="javascript" src="jquery.js"></script>
  <script type="text/javascript" language="javascript" src="droppy.js"></script>
  <script type="text/javascript" language="javascript" src="thickbox.js"></script>
  <script type="text/javascript" language="javascript" src="helper.js"></script>
  <!--[if lte IE 6]>
  <script type="text/javascript" language="javascript" src="png.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="thickbox.css">
  <link rel="stylesheet" type="text/css" href="jquery_002.css">
  <link rel="stylesheet" type="text/css" href="jquery_003.css">
  <link rel="stylesheet" type="text/css" href="jquery.css">
  <link rel="stylesheet" type="text/css" href="jquery_004.css">
  <script type="text/javascript">
      window.PHPSESSID="79e1e8d0a39dda3a5cdad909edcdbaef";
      function parseToURL(){
          return "admin/"}
      function operate_logo(dis,id){
          if(dis==0){//点击传过来是0，则表示已经隐藏，现在应该做显示处理
              $.post("index.php?_m=mod_media&_a=operate_logo",{id:id,display:dis},function(data){
                  reloadPage();
              })

          }else{
              $.post("index.php?_m=mod_media&_a=operate_logo",{id:id,display:dis},function(data){
                  reloadPage();
              });
          }
      }
      function operate_banner(dis,id,url){
          if(dis==0){//点击传过来是0，则表示已经隐藏，现在应该做显示处理
              $.post("index.php?_m=mod_media&_a=operate_banner",{id:id,display:dis,url:url},function(data){
                  reloadPage();
              })

          }else{
              $.post("index.php?_m=mod_media&_a=operate_banner",{id:id,display:dis,url:url},function(data){
//			alert(data);
                  reloadPage();
              });
          }
      }
  </script>


</head>
<!--  页面头部【end】 -->
<body class="body1" style="height: 100%;">
<div id="getValues" value="index" style="display:none;"></div>
<div id="getParams" value="a:0:{}" style="display:none;"></div>
<div class="web_bg">
<div id="main_div1">
<div id="main_div">
<div id="top">
  <div id="header">
    <div id="logo"><div id="MODBLK_442" class="mod_block media_image mb_logo_block">

      <div class="flash_image">
        <img src="3.png" alt="深圳市优讯通信息技术有限公司">
      </div>

    </div>
    </div>

    <!-- 站点语言模块Start -->
    <div class="switch_langbar" style="float:right;margin-top:25px;">

    </div>
    <!-- 站点语言模块End -->
  </div>
</div>
<div id="nav1">
  <div id="nav">
    <div id="MODBLK_169" class="mod_block mb_kOzgrVaw_block">


      <div class="nav_l"></div>
      <ul id="nav_CR3fyf" class="navigation">
        <li>
          <a href="http://www.szyouxuntong.cn/frontpage-index.html" target="_self">
            首页</a>
        </li>
        <li>
        <span><a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-2.html" target="_self">
          公司简介</a>
    <ul>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-2.html" target="_self">
          公司介绍</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-4.html" target="_self">
          企业文化</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-5.html" target="_self">
          服务宗旨</a>
      </li>
    </ul></span>
        </li>
        <li>
        <span><a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-18.html" target="_self">
          新闻动态</a>
    <ul>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-21.html" target="_self">
          企业动态</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-19.html" target="_self">
          行业资讯</a>
      </li>
    </ul></span>
        </li>
        <li>
        <span><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-57.html" target="_self">
          产品展示</a>
    <ul>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_product-view-p_id-57.html" target="_self">
          企业APP开发</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_product-view-p_id-58.html" target="_self">
          企业微站建设</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_product-view-p_id-59.html" target="_self">
          企业电子邮件(EDM)营销</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_product-view-p_id-60.html" target="_self">
          企业短彩信营销</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-9.html" target="_self">
          软件开发/外包</a>
      </li>
    </ul></span>
        </li>
        <li class="">
        <span id=""><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-95.html" target="_self">
          行业解决方案</a>
    <ul style="display: none;">
      <li>
        <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-95.html" target="_self">
          企业APP解决方案</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-96.html" target="_self">
          微站营销解决方案</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-109.html" target="_self">
          EDM营销解决方案</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-10.html" target="_self">
          短彩信营销解决方案</a>
      </li>
      <li>
        <a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-11.html" target="_self">
          软件开发及外包解决方案</a>
      </li>
    </ul></span>
        </li>
        <li>
          <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-36.html" target="_self">
            案例介绍</a>
        </li>
        <li>
          <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-37.html" target="_self">
            常见问题</a>
        </li>
        <li>
          <a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-1.html" target="_self">
            联系我们</a>
        </li>
      </ul>
      <div class="nav_r"></div>


      <script type="text/javascript">
          //$(".navigation li:first").css("background-image","none");
          var topMenuNum = 0;
          $("#nav_CR3fyf li span").hover(
                  function(){
                      topMenuNum++;
                      $(this).attr("id","kindMenuHover"+topMenuNum);
                      $("#kindMenuHover" + topMenuNum + " > ul").show();
                      $(this).parent().addClass("hover");
                  },
                  function(){
                      $("#"+$(this).attr("id")+" > ul").hide();
                      $(this).attr("id","");
                      $(this).parent().removeClass("hover");
                  }
          );
      </script>

    </div>
  </div>
</div>
<div id="banner">
  <div id="MODBLK_443" class="mod_block media_image mb_banner_block">
    <div class="flash_image">
      <link media="all" href="css/tpbk-activity.css" type="text/css" rel="stylesheet">
      <style type="text/css">
          #lantern_slide_cndns4 {
              OVERFLOW: hidden;  HEIGHT: 362px; margin:0 auto; padding:0; text-align:center; width:954px;
          }

          #bimg_cndns4 {
              FILTER: progid:DXImageTransform.Microsoft.Fade ( duration=0.5,overlap=1.0 ); OVERFLOW: hidden; HEIGHT: 318px
          }
          .pic .dis A {
              DISPLAY: block; FONT-SIZE: 280px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 954px; FONT-FAMILY: Arial; HEIGHT: 318px; TEXT-ALIGN: center
          }
          .pic .dis A IMG {
              MAX-WIDTH: 954px; VERTICAL-ALIGN: middle
          }
      </style>
      <div id="lantern_slide_cndns4">
        <table class="ge" id="ge" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td class="pic" id="bimg_cndns4">
              <div class="undis" name="f"><a href="#"><img alt="精细定制开发各类APP" src=jingxidingzhi2.gif" height="318" width="954"></a></div>
              <div class="undis" name="f"><a href="#"><img alt="专注提供企业移动互联网营销解决方案" src="tigong360yingxiaojiejuefangan.gif" height="318" width="954"></a></div>

              <div class="undis" name="f"><a href="http://szyouxuntong.cn/mod_article-article_content-article_id-134.html" target="_blank"><img alt="业内领先电子邮件服务提供商" src="youjianfuwu.jpg" height="318" width="954"></a></div>
              <div class="undis" name="f"><a href="#"><img alt="移动互联网企业平台" src="yidonghulianwangqiyefuwupingtai.gif" height="318" width="954"></a></div>
              <div class="dis" name="f"><a href="#"><img alt="企业用户睿智之选" src="qiyeyonghuzhizhixuan.gif" height="318" width="954"></a></div>


              <table id="font_hd_cndns4" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td class="lkff" id="info_cndns4">

                    <div class="undis" name="f"><a href="http:///" target="_blank">精细定制开发各类APP</a></div>

                    <div class="undis" name="f"><a href="http:///" target="_blank">专注提供企业移动互联网营销解决方案</a></div>

                    <div class="undis" name="f"><a href="http://szyouxuntong.cn/mod_article-article_content-article_id-134.html" target="_blank">业内领先电子邮件服务提供商</a></div>

                    <div class="undis" name="f"><a href="http:///" target="_blank">移动互联网企业平台</a></div>

                    <div class="dis" name="f"><a href="http:///" target="_blank">企业用户睿智之选</a></div>


                  </td>
                  <td id="simg_cndns4">
                    <div class="f1" onclick="play(x[0],0)" name="f">1</div>
                    <div class="f1" onclick="play(x[1],1)" name="f">2</div>
                    <div class="f1" onclick="play(x[2],2)" name="f">3</div>
                    <div class="f1" onclick="play(x[3],3)" name="f">4</div>
                    <div class="" onclick="play(x[4],4)" name="f">5</div>

                  </td></tr></tbody></table>

            </td></tr></tbody></table></div>

      <script type="text/javascript">
          function getid(o){ return (typeof o == "object")?o:document.getElementById(o);}
          function getNames(obj,name,tij)
          {
              var plist = getid(obj).getElementsByTagName(tij);
              var rlist = new Array();
              for(i=0;i<plist.length; ++i){if(plist[i].getAttribute("name") == name){rlist[rlist.length] = plist[i];}}
              return rlist;
          }

          function fiterplay(obj,num,t,name,c1,c2)
          {
              var fitlist = getNames(obj,name,t);
              for(i=0;i<fitlist.length;++i)
              {
                  if(i == num)
                  {
                      fitlist[i].className = c1;
                  }
                  else
                  {
                      fitlist[i].className = c2;
                  }
              }
          }
          function play(obj,num)
          {
              var s = getid('simg_cndns4');
              var i = getid('info_cndns4');
              var b = getid('bimg_cndns4');
              try
              {
                  with(b)
                  {
                      filters[0].Apply();
                      fiterplay(b,num,"div","f","dis","undis");
                      fiterplay(s,num,"div","f","","f1");
                      fiterplay(i,num,"div","f","dis","undis");
                      filters[0].play();
                  }
              }
              catch(e)
              {
                  fiterplay(b,num,"div","f","dis","undis");
                  fiterplay(s,num,"div","f","","f1");
                  fiterplay(i,num,"div","f","dis","undis");
              }
          }

          var autoStart = 0;
          var n = 0;		var s = getid("simg_cndns4");
          var x = getNames(s,"f","div");
          function clearAuto() {clearInterval(autoStart);};
          function setAuto(){autoStart=setInterval("auto(n)", 5000)}
          function auto()	{


              n++  ;
              if(n>(x.length-1))
              { n = 0;
                  //clearAuto();
              }
              play(x[n],n);

          }
          function ppp(){
              setAuto();

          }
          ppp();
      </script>

    </div>

  </div>
</div>
<div id="mainmain">
<div id="main_con">
<div class="web_bg">

<div id="right">

<div id="MODBLK_479" class="mod_block mb_EcSza4i0_block">
  <h3 class="blk_t">企业新闻</h3>
  <style type="text/css">

      .box { height:125px;line-height:25px;  overflow:hidden;}
      .box h4{font-weight:normal;}
      .box ul{margin:0; padding:0}
      .box li{height:25px; line-height:25px; font-size:12px; text-align:center; list-style-type:none;}
      .bulletin h4 {font-weight:normal;}
  </style>

  <div class="list_con notice_con" id="andyscroll7buSqn">
    <div class="bulletin box" id="scrollmessage7buSqn">
      <h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-12.html">微站--下一个企业营销突破点</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-5.html">APP营销：展会行业时尚新选</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-11.html">SDK客户发送注意事项</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-6.html">立足无线商务 助力企业发展</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-3.html">优讯通提醒您注意密码安全</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-2.html">温馨提示</a></h4>
      <h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-12.html">微站--下一个企业营销突破点</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-5.html">APP营销：展会行业时尚新选</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-11.html">SDK客户发送注意事项</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-6.html">立足无线商务 助力企业发展</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-3.html">优讯通提醒您注意密码安全</a></h4><h4><a href="http://www.szyouxuntong.cn/mod_bulletin-bulletin_content-bulletin_id-2.html">温馨提示</a></h4>	</div>
    <div id="tab2"></div>
  </div><div class="list_bot"></div>
  <script type="text/javascript">
      function startmarquee(lh,speed,delay,index){
          var t;
          var p=false;
          var o=document.getElementById("scrollmessage7buSqn");

          o.innerHTML+=o.innerHTML;
          o.onmouseover=function(){p=true}
          o.onmouseout=function(){p=false}
          o.scrollTop = 0;
          function start(){
              t=setInterval(scrolling,speed);
              if(!p){ o.scrollTop += 1;}
          }
          function scrolling(){
              if(o.scrollTop%lh!=0){
                  o.scrollTop += 1;
                  if(o.scrollTop>=o.scrollHeight/2) o.scrollTop = 0;
              }else{
                  clearInterval(t);
                  setTimeout(start,delay);
              }
          }
          setTimeout(start,delay);
      }
      startmarquee(20,40,0,1);
  </script>

</div>
<div id="MODBLK_520" class="mod_block mb_RfZF4OBf_block">
  <h3 class="blk_t">企业APP开发</h3>


  <div class="list_main category">
    <div class="prod_type">
      <div id="pro_type_VqUFGI">
        <ul>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-39.html">
              IOS 系统开发</a>
          </li>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-38.html">
              安卓系统开发</a>
          </li>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-40.html">
              APP运营推广</a>
          </li>
          <div class="blankbar1"></div>
        </ul>
      </div>
    </div>
    <div class="list_bot"></div>
  </div>
  <div class="blankbar"></div>


  <script type="text/javascript" language="javascript">
      /**
       * for menu-drop type
       */
      var type = "slide";
      if (type == 'click') {
          $(function(){
              $('#pro_type_VqUFGI li:has(ul)').click(function(event){
                  if (this == event.target) {
                      if ($(this).children().is(':hidden')) {
                          $(this).css({background:'url(minus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
                                  .children().show();

                          $(this).siblings().each(function (){
                              $(this).find("ul").hide();
                              if ($(this).children().is("ul")){
                                  $(this).css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});
                              }
                          });
                      } else {
                          $(this).css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
                                  .find("ul").hide();
                      }
                  }
              }).css('cursor','pointer');

              $('#pro_type_VqUFGI li:has(ul)').css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});

              $('#pro_type_VqUFGI li:not(:has(ul))').css({cursor: 'pointer','list-style-image':'none'});
          });
      } else {
          $("#pro_type_VqUFGI > ul").droppy();
          $("#pro_type_VqUFGI ul ul li:last-child").css("border","0px");
      }
  </script>

</div>
<div id="MODBLK_521" class="mod_block mb_Yg3veJ6Z_block">
  <h3 class="blk_t">微站建设</h3>


  <div class="list_main category">
    <div class="prod_type">
      <div id="pro_type_g1SnQU">
        <ul>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-41.html">
              微站开发</a>
          </li>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-42.html">
              微站运营推广</a>
          </li>
          <div class="blankbar1"></div>
        </ul>
      </div>
    </div>
    <div class="list_bot"></div>
  </div>
  <div class="blankbar"></div>


  <script type="text/javascript" language="javascript">
      /**
       * for menu-drop type
       */
      var type = "slide";
      if (type == 'click') {
          $(function(){
              $('#pro_type_g1SnQU li:has(ul)').click(function(event){
                  if (this == event.target) {
                      if ($(this).children().is(':hidden')) {
                          $(this).css({background:'url(minus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
                                  .children().show();

                          $(this).siblings().each(function (){
                              $(this).find("ul").hide();
                              if ($(this).children().is("ul")){
                                  $(this).css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});
                              }
                          });
                      } else {
                          $(this).css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
                                  .find("ul").hide();
                      }
                  }
              }).css('cursor','pointer');

              $('#pro_type_g1SnQU li:has(ul)').css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});

              $('#pro_type_g1SnQU li:not(:has(ul))').css({cursor: 'pointer','list-style-image':'none'});
          });
      } else {
          $("#pro_type_g1SnQU > ul").droppy();
          $("#pro_type_g1SnQU ul ul li:last-child").css("border","0px");
      }
  </script>

</div>
<div id="MODBLK_522" class="mod_block mb_hH8kAPzZ_block">
  <h3 class="blk_t">EDM营销</h3>


  <div class="list_main category">
    <div class="prod_type">
      <div id="pro_type_SEPHMH">
        <ul>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-43.html">
              电子邮件推广</a>
          </li>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_article-fullist-caa_id-44.html">
              EDM系统建设</a>
          </li>
          <div class="blankbar1"></div>
        </ul>
      </div>
    </div>
    <div class="list_bot"></div>
  </div>
  <div class="blankbar"></div>


  <script type="text/javascript" language="javascript">
      /**
       * for menu-drop type
       */
      var type = "slide";
      if (type == 'click') {
          $(function(){
              $('#pro_type_SEPHMH li:has(ul)').click(function(event){
                  if (this == event.target) {
                      if ($(this).children().is(':hidden')) {
                          $(this).css({background:'url(minus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
                                  .children().show();

                          $(this).siblings().each(function (){
                              $(this).find("ul").hide();
                              if ($(this).children().is("ul")){
                                  $(this).css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});
                              }
                          });
                      } else {
                          $(this).css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
                                  .find("ul").hide();
                      }
                  }
              }).css('cursor','pointer');

              $('#pro_type_SEPHMH li:has(ul)').css({background:'url(plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});

              $('#pro_type_SEPHMH li:not(:has(ul))').css({cursor: 'pointer','list-style-image':'none'});
          });
      } else {
          $("#pro_type_SEPHMH > ul").droppy();
          $("#pro_type_SEPHMH ul ul li:last-child").css("border","0px");
      }
  </script>

</div>
<div id="MODBLK_596" class="mod_block mb_TTSwxayW_block">
  <h3 class="blk_t">短彩信营销</h3>

  <div class="list_main category">
    <div class="prod_type">
      <div id="pro_type_qTx3Zv">
        <ul class="" id="tree1">
          <li>
            <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-4.html">
              网络版产品</a>
          </li>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-8.html">
              SDK接口</a>
          </li>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-70.html">
              二次开发</a>
          </li>
          <li>
            <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-3.html">
              单机版产品</a>
          </li>
          <div class="blankbar1"></div>
        </ul>
      </div>
    </div>
    <div class="list_bot"></div>
  </div>
  <div class="blankbar"></div>

  <script type="text/javascript" language="javascript">
      /**
       * for menu-drop type
       */
      var type = "slide";
      if (type == 'click') {

      } else {
          $("#pro_type_qTx3Zv > ul").droppy();
          $("#pro_type_qTx3Zv ul ul li:last-child").css("border","0px");
      }
  </script>


</div>
<div id="MODBLK_497" class="mod_block mb_yrmXMMz8_block">
  <h3 class="blk_t">在线客服</h3>





  <div class="qq_list_con">
    <ul>
      <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2977869389&amp;site=qq&amp;Menu=yes" target="blank"><img src="pa.gif" align="absMiddle" border="0">   客服1</a></li>

      <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1446898722&amp;site=qq&amp;Menu=yes" target="blank"><img src="pa_002.gif" align="absMiddle" border="0">客服2</a></li>

    </ul>
  </div>
  <div class="list_bot"></div>
  <div class="blankbar"></div>

  <script>
      $(".qq_list_con>a").width($(".qq_list_con").width()/2);
  </script>







</div>

</div>
<div id="left">
  <div id="MODBLK_464" class="mod_block mb_ioRbWo9M_block">
    <h3 class="blk_t">公司简介</h3>
    <div class="list_con company_intro">
      <p align="left">
        &nbsp; &nbsp;<span style="font-size:14px;">&nbsp; &nbsp;
深圳市优讯通信息技术有限公司坐落于中国经济特区-深圳市南山中心区。我公司面向移动商务信息化及通讯领域，针对企业营销需求，搭建了"优讯通"企业移动
营销平台，包含企业APP、企业微信网站、企业手机网站、企业电子邮件（EDM）、企业短彩信等综合管理平台，为企业提供360°的推广营销，旨在为企业
客户提高客户关系开发、管理、维护能力&nbsp;</span><br><span style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp; 公司凭借着优秀的员工队伍、过硬的开发技术、全面的产品功能、严格的通道管理、完善的售后服务，真正了实现企业、合作伙伴、终端客户之间的共赢。</span><br><span style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp; 深圳优讯通全体员工将以“诚信、高效、务实”宗旨，将不断持续提高产品及服务水平，为您提供一流的软件平台、通讯及售后服务。</span><img style="font-size:14px;" alt="" src="20130221164227_72350.png"></p><p><br></p><div class="list_more"><a href="http://www.szyouxuntong.cn/mod_static-view-sc_id-2.html"><img src="more_37.jpg" border="0" height="9" width="32"></a></div>
    </div><div class="list_bot"></div>
  </div>
  <div id="MODBLK_459" class="mod_block mb_yUEXlVss_block">
    <h3 class="blk_t">行业新闻</h3>
    <div class="list_main">
      <div class="list_con">
        <ul class="titlelist">
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-135.html" title="优讯通签约CloudCC CRM"> 优讯通签约CloudCC CR...</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-106.html" title="工业和信息化部关于电信服务质量的通告"> 工业和信息化部关于电信服务质量...</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-107.html" title="艾媒咨询：2013年中国春节拜年信息渠道调查报告,短信占主流"> 艾媒咨询：2013年中国春节拜...</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-134.html" title="优讯通Smart EDM 电子邮件服务上线"> 优讯通Smart EDM 电子...</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-108.html" title="企业短信提示  消费者售后信心倍增"> 企业短信提示  消费者售后信心...</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-133.html" title="优讯通系列产品全面升级为无限通系列产品"> 优讯通系列产品全面升级为无限通...</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-104.html" title="红彩信给力“正能量"> 红彩信给力“正能量</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-124.html" title="优讯通提醒您注意密码安全"> 优讯通提醒您注意密码安全</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-105.html" title="寒冬还是机遇 移动互联网十大潜力业务"> 寒冬还是机遇 移动互联网十大潜...</a></li>
          <li><a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-103.html" title="中移动启用全国最大信息安全中心治理垃圾短信"> 中移动启用全国最大信息安全中心...</a></li>
        </ul>
        <div class="list_more"><a href="http://www.szyouxuntong.cn/mod_article-fullist.html"><img src="more_37.jpg" border="0" height="9" width="32"></a></div>

      </div>
      <div class="list_bot"></div>
    </div>
    <div class="blankbar"></div>
  </div>
  <div id="MODBLK_525" class="mod_block mb_PWQ23qIR_block">
    <h3 class="blk_t">产品介绍</h3>

    <div class="newprod">
      <div class="newprod_top"></div>
      <div class="newprod_con">

        <div class="pro_over">
          <table class="media_grid" cellspacing="4" width="100%">
            <tbody><tr>			<td>
              <div class="newprod_list">
                <div class="newprod_pic"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-63.html" title="EDM营销"><img style="width: auto; height: 133px; padding: 0px 10px;" name="picautozoom" alt="EDM营销" src="iPhone5-Preview3_lit.gif" class="prodthumb" border="0"></a></div>
                <div class="newprod_name"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-63.html">EDM营销</a></div>
                <div class="newprod_intr">分类:
                  <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-79.html">EDM营销</a>

                </div>
              </div>
              <div class="blankbar1"></div>


            </td>
              <td>
                <div class="newprod_list">
                  <div class="newprod_pic"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-58.html" title="短彩信营销"><img style="width: 133px; height: auto; padding: 0px;" name="picautozoom" alt="短彩信营销" src="wangluoban1_lit.jpg" class="prodthumb" border="0"></a></div>
                  <div class="newprod_name"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-58.html">短彩信营销</a></div>
                  <div class="newprod_intr">分类:
                    <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-80.html">短彩信营销</a>

                  </div>
                </div>
                <div class="blankbar1"></div>


              </td>
              <td>
                <div class="newprod_list">
                  <div class="newprod_pic"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-62.html" title="微站建设"><img style="width: auto; height: 133px; padding: 0px 7px;" name="picautozoom" alt="微站建设" src="iPhone5-Preview2_lit.gif" class="prodthumb" border="0"></a></div>
                  <div class="newprod_name"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-62.html">微站建设</a></div>
                  <div class="newprod_intr">分类:
                    <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-78.html">微站建设</a>

                  </div>
                </div>
                <div class="blankbar1"></div>


              </td>
              <td>
                <div class="newprod_list">
                  <div class="newprod_pic"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-61.html" title="APP开发"><img style="width: auto; height: 133px; padding: 0px 7px;" name="picautozoom" alt="APP开发" src="iPhone5-Preview_lit.gif" class="prodthumb" border="0"></a></div>
                  <div class="newprod_name"><a href="http://www.szyouxuntong.cn/mod_product-view-p_id-61.html">APP开发</a></div>
                  <div class="newprod_intr">分类:
                    <a href="http://www.szyouxuntong.cn/mod_product-prdlist-cap_id-77.html">APP开发</a>

                  </div>
                </div>
                <div class="blankbar1"></div>


              </td>
            </tr>	</tbody></table>
        </div>
      </div>
      <div class="list_bot"></div>
    </div>
    <div class="blankbar"></div>



  </div>
  <div id="MODBLK_526" class="mod_block mb_6nJYp8fQ_block">
    <h3 class="blk_t">解决方案</h3>
    <div class="recent">
      <div class="recent_top"></div>
      <div class="recent_con">


        <div class="recent_list">
          <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-109.html" title="保险行业整体解决方案">保险行业整体解决方案</a>
          <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-109.html" title="保险行业整体解决方案"><img src="more_37.jpg" border="0" height="9" width="32"></a></div>





        <div class="recent_list">
          <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-96.html" title="展览行业应用解决方案">展览行业整体解决方案</a>
          <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-96.html" title="展览行业应用解决方案"><img src="more_37.jpg" border="0" height="9" width="32"></a></div>





        <div class="recent_list">
          <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-95.html" title="互联网行业解决方案">互联网行业整体解决方案</a>
          <a href="http://www.szyouxuntong.cn/mod_article-article_content-article_id-95.html" title="互联网行业解决方案"><img src="more_37.jpg" border="0" height="9" width="32"></a></div>



      </div>
      <div class="list_bot"></div>
    </div>
    <div class="blankbar"></div>
  </div>
  <div id="MODBLK_485" class="mod_block mb_yBOFDNEZ_block">
    <h3 class="blk_t">品牌客户</h3>
    <div class="list_main">
      <div class="list_con">
        <ul class="flink_index">
          <li><a href="http://w.szyouxuntong.com/" target="_blank" title="兴业银行"><img src="xingyeyinxing.jpg" alt="兴业银行" border="0" width="160"></a></li><li><a href="http://w.szyouxuntong.com/" target="_blank" title="王府井百货"><img src="wangfujingbaihuo.gif" alt="王府井百货" border="0" width="160"></a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="北京大学"><img src="beijingdaxue.gif" alt="北京大学" border="0" width="160"></a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="中国平台"><img src="a.gif" alt="中国平台" border="0" width="160"></a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="沃尔玛中国"><img src="a_002.gif" alt="沃尔玛中国" border="0" width="160"></a></li>
        </ul><div class="blankbar1"></div>
      </div>
      <div class="list_bot"></div>
    </div>
    <div class="blankbar"></div>

  </div>
  <div id="MODBLK_565" class="mod_block mb_9QqJG8ar_block">
    <h3 class="blk_t">友情链接</h3>
    <div class="list_main">
      <div class="list_con">
        <ul class="flink_index">
          <li><a href="http://www.szyouxuntong.com/" target="_blank" title="工信部">工信部</a></li><li><a href="http://www.szyouxuntong.cn/www.189.cn" target="_blank" title="中国电信">中国电信</a></li><li><a href="http://www.10010.com/" target="_blank" title="中国联通">中国联通</a></li><li><a href="http://www.10086.cn/" target="_blank" title="中国移动">中国移动</a></li><li><a href="http://dgj.miit.gov.cn/n11293472/n11295276/index.html" target="_blank" title="电信管理局">电信管理局</a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="兴业银行">兴业银行</a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="北京大学">北京大学</a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="中国平安">中国平安</a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="沃尔玛中国">沃尔玛中国</a></li><li><a href="http://www.szyouxuntong.com/" target="_blank" title="王府井百货">王府井百货</a></li>
        </ul><div class="blankbar1"></div>
      </div>
      <div class="list_bot"></div>
    </div>
    <div class="blankbar"></div>

  </div>
</div>



<div class="blankbar"></div>

</div>
</div>
</div>
</div>
</div>
<div id="footermain">
  <div id="foot_2">

    <!-- 页脚【start】 -->
    <div id="footer" style="display:block;">
      <div style="margin-left:150px; padding:5px 10px;"></div>
      <div class="copyright" style="display:block;">
        <style type="text/css">
            .mb_foot_block {position:relative;}
            .mb_foot_block a{display:inline;}

            .copyright .list_bot{display:none;}
        </style>
        <div id="MODBLK_170" class="mod_block mb_foot_block">
          <style type="text/css">
              .copyright .list_bot{display:none;}
          </style>
          <div class="com_con">Copyright © 2009-2013 www.szyouxuntong.cn  All rights reserved<br>
            版权所有 © 深圳市优讯通信息技术有限公司 未经许可 严禁复制<br>
            公司地址：广东省深圳市南山区南新路3083号大新商厦B栋407&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   邮编：518054<br>
            公司电话：0755-86647163 &nbsp;&nbsp;&nbsp;&nbsp;  7*24小时服务热线：0755-3312642
          </div><div class="list_bot"></div>
        </div>
        <div id="MODBLK_475" class="mod_block mb_foot_block">
          <h3 class="blk_t"></h3>
          <style type="text/css">
              .copyright .list_bot{display:none;}
          </style>

        </div>
        <div class="com_con"><a target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备13005389号</a><div class="list_bot"></div></div>
      </div>
    </div>
    <script type="text/javascript" language="javascript" src="picAutoZoom.js"></script>
    <script type="text/javascript" language="javascript">
        <!--
        $.ajaxSetup({
            timeout: 300000
        });
        //-->
    </script>
    <style type="text/css">
        html {overflow-x:hidden;}
        .zxkf_head {background:url(head_1_c.gif) no-repeat;}
        .zxkf_obtn {margin-top:0;width:36px;background:url(r_bar_1_c.gif) no-repeat;float:left;height:155px;margin-right:-5px;_width:41px;}
        .zxkf_info {padding-bottom:10px;padding-left:0px;padding-right:0px;background:url(service_bg.gif) repeat-y;width:145px;}
        .down_kefu {width:145px;background:url(bottom.gif) no-repeat;height:10px;}
        .zxkf_qqtable {background:url(s_c_bg.gif) repeat-x;}
        .zxkf_qqtable span {padding-bottom:5px;line-height:20px;padding-left:0px;width:100px;padding-right:0px;font-size:13px;font-weight:bold;padding-top:5px;color: #ff6600;}
        .zxkf_qqtable a {text-decoration:none;color:#FF6600;}
        .zxkf_qqtable a:hover {text-decoration:none;color:#FF6600;}
        .zxkf_qqtable A, .zxkf_qqtable A:visited {text-decoration:none;color:#ff6600;}
        .zxkf_qqtable A:hover {text-decoration:none}
    </style><div id="online_sevice" onmouseover="toBig()" onmouseout="toSmall()" style="z-index: 999; top: 100px; right: -152px; position: absolute;">
    <div class="zxkf_obtn"></div><table style="float:left;" cellpadding="0" cellspacing="0" border="0" width="145">
    <tbody>
    <tr>
      <td class="zxkf_head" height="35" valign="top">&nbsp;</td></tr>
    <tr>
      <td class="zxkf_info" align="center" valign="top">
        <table class="zxkf_qqtable" cellpadding="0" cellspacing="0" align="center" border="0" width="135">
          <tbody>
          <tr>
            <td align="center" valign="top">
              <table cellpadding="0" cellspacing="0" align="center" border="0" width="108">
                <tbody><tr>
                  <td height="10"></td>
                </tr>
                <tr>
                  <td align="center" valign="top">售后客服</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td align="center" height="30"><span><img src="pa.gif" alt="QQ" align="absMiddle" border="0">&nbsp;&nbsp;<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2977869389&amp;site=qq&amp;Menu=yes" target="blank">   客服1</a></span></td></tr>
                <tr>
                  <td align="center" height="30"><span><img src="pa_002.gif" alt="QQ" align="absMiddle" border="0">&nbsp;&nbsp;<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1446898722&amp;site=qq&amp;Menu=yes" target="blank">客服2</a></span></td></tr>
                </tbody></table>          <span></span></td></tr>
          </tbody></table></td></tr>
    <tr>
      <td class="down_kefu" valign="top"></td></tr></tbody></table>
  </div>
    <script language="javascript">
        lastScrollY=0; var InterTime=1;var maxWidth=-1;var minWidth=-152;var numInter=8;var BigInter;var SmallInter;var o=document.getElementById("online_sevice");var i=parseInt(o.style.right);
        zxkf = function (id,_top,_right){var me=id.charAt?document.getElementById(id):id,d1=document.body,d2=document.documentElement;d1.style.height=d2.style.height='100%';me.style.top=_top?_top+'px':0;me.style.right=_right+"px";me.style.position='absolute';setInterval(function(){me.style.top=parseInt(me.style.top)+(Math.max(d1.scrollTop,d2.scrollTop)+_top-parseInt(me.style.top))*0.1+'px';},10+parseInt(Math.random()*20));return arguments.callee;};
        $(function(){zxkf('online_sevice',100,-152);});
        function Big(){if(parseInt(o.style.right)<maxWidth){i=parseInt(o.style.right);i+=numInter;o.style.right=i+"px";if(i==maxWidth) clearInterval(BigInter);}}
        function toBig(){clearInterval(SmallInter);clearInterval(BigInter);BigInter=setInterval(Big,InterTime);}
        function Small(){if(parseInt(o.style.right)>minWidth){i=parseInt(o.style.right);i-=numInter;o.style.right=i+"px";if(i==minWidth) clearInterval(SmallInter);}}
        function toSmall(){clearInterval(SmallInter);clearInterval(BigInter);SmallInter=setInterval(Small,InterTime);}
    </script>
    <!-- 页脚【end】 -->

  </div>
</div>
</div></body></html>